<h2 style="text-align: center">Add New Book</h2>


<form #myForms="ngForm" (ngSubmit)="saveBook(myForms.value)">
  <div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Enter your title" type="text" name="title" ngModel>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Enter your author" type="text" name="author" ngModel>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="pages" type="number" class="example-right-align" name="pages" ngModel>
    <span matPrefix>📖&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="price" type="number" class="example-right-align"  name="price" ngModel>
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>
  <br>
    <mat-form-field>
      <mat-label>Currency</mat-label>
      <mat-select name="currency" ngModel>
        <mat-option *ngFor="let currency of Currencys" [value]="currency.value">
          {{ currency.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-slide-toggle name="isPublished" ngModel>IS that Book Published !</mat-slide-toggle>


    <button mat-raised-button  color="primary" type="submit" style="margin-top: 10px">Save</button>
  </div>
</form>


<h2 style="text-align: center">{{myForms.value | json}}</h2>





