<h2 style="text-align: center">Add New Book using Reactive</h2>

<button (click)="updateFormValues()"> Update values</button>
{{addBookForm.get('value')?.value}}
{{addBookForm.get('title')?.valid}}
{{addBookForm.get('title')?.errors | json}}
<!--refrence in html-->


<form class="add-book-form" (ngSubmit)="saveBook()" [formGroup]="addBookForm">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Book title" type="text" name="title" formControlName="title">
    </mat-form-field>
    <mat-hint class="ErrorMsg" *ngIf="addBookForm.get('title')?.invalid && addBookForm.get('title')?.touched">
      <span *ngIf="addBookForm.get('title')?.errors?.['required']">Please enter the book title</span>
      <span *ngIf="addBookForm.get('title')?.errors?.['minlength']">Min Length is 5 Words  </span>
    </mat-hint>
    <br>
    <mat-form-field>
      <input matInput placeholder="Book author" type="text" name="author" formControlName="author" >
      <mat-hint class="ErrorMsg" *ngIf="addBookForm.get('author')?.invalid && addBookForm.get('author')?.touched">
        <span>Please Enter Authors name firs</span>
      </mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Number of Pages" type="number" class="example-right-align" name="pages" required min="10" max="859" formControlName="totalPages">
      <span matPrefix>📖&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>

    <mat-hint class="ErrorMsg" *ngIf="addBookForm.get('totalPages')?.invalid && addBookForm.get('totalPages')?.touched">
      <span *ngIf="addBookForm.get('totalPages')?.errors?.['required']">Please enter the number of pages</span>
      <span *ngIf="addBookForm.get('totalPages')?.errors?.['min']">Min Length is 10 Page  </span>
      <span *ngIf="addBookForm.get('totalPages')?.errors?.['max']">Max length is 859 Pages</span>
    </mat-hint>
    <br>
    <mat-form-field formGroupName="price">
      <input matInput placeholder="Book Price" type="number" class="example-right-align"  name="price" formControlName="value">
      <span matPrefix>₹&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>
    <mat-hint class="ErrorMsg" *ngIf="!addBookForm.get('price.value')?.valid && addBookForm.get('price.value')?.touched">Please enter Amount</mat-hint>
    <br>
    <mat-form-field formGroupName="price">
      <mat-label>Currency</mat-label>
      <mat-select  formControlName="currency">
        <mat-option *ngFor="let currency of Currencys" [value]="currency.value">
          {{ currency.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Publish date</mat-label>
      <input matInput [matDatepicker]="picker" name="publishedOn" formControlName="publishedOn">
      <mat-hint>Month/Date/Year</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-slide-toggle name="isPublished" formControlName="published">IS that Book Published !</mat-slide-toggle>


    <button  [disabled]="addBookForm.invalid" mat-raised-button  color="primary" type="submit" style="margin-top: 10px">Save</button>
  </div>
</form>
