<h2 style="text-align: center">Add New Book using Reactive</h2>

<button (click)="updateFormValues()"> Update values</button>
{{addBookForm.get('value')?.value}}
{{addBookForm.get('title')?.valid}}
{{addBookForm.get('title')?.errors | json}}


<!--refrence in html-->


<form class="add-book-form" (ngSubmit)="saveBook()" [formGroup]="addBookForm">
  <div class="example-container">

    <mat-radio-group class="toggal" aria-label="Select an option" formControlName="formatType">
      <mat-radio-button value="pdf">Pdf</mat-radio-button>
      <mat-radio-button value="doc">Doc</mat-radio-button>
    </mat-radio-group>
    <br>
    <mat-form-field>
      <input matInput placeholder="Doc Format" type="text" name="title" formControlName="docFormat">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Pdf Format" type="text" name="title" formControlName="pdfFormat">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Book title" type="text" name="title" formControlName="title">
    </mat-form-field>
    <mat-hint class="ErrorMsg">
      {{titleErrorMessage}}
    </mat-hint>
    <br>

   <div formArrayName="authors">
    <div *ngFor="let auth of authors.controls; let i=index;">
      <mat-form-field appearance="fill" [formGroupName]="i">
      <input matInput placeholder="Book author Full Name" type="text" name="authors" formControlName="fullName" >
      <mat-hint class="ErrorMsg">
        {{authorErrorMessage}}
      </mat-hint>
    </mat-form-field>
    </div>
   </div>

<!--    <div formArrayName="authors">-->
<!--&lt;!&ndash;      <div *ngFor="let auth of addBookForm.get('authors').controls; let i = index;">&ndash;&gt;-->
<!--          <div *ngFor="let auth of authors.controls; let i=index;">-->
<!--        <mat-form-field appearance="fill" [formGroupName]="i">-->
<!--          <input matInput placeholder="Book author Full Name" type="text" name="authors" formControlName="fullName">-->
<!--          <mat-hint class="ErrorMsg">-->
<!--            {{authorErrorMessage}}-->
<!--          </mat-hint>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--    </div>-->

    <br>
    <mat-form-field>
      <input matInput placeholder="Number of Pages" type="number" class="example-right-align" name="pages" required min="10" max="859" formControlName="totalPages">
      <span matPrefix>📖&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>

    <mat-hint class="ErrorMsg">
   {{pageErrorMessage}}
    </mat-hint>
    <br>
    <mat-form-field formGroupName="price">
      <input matInput placeholder="Book Price" type="number" class="example-right-align"  name="price" formControlName="value">
      <span matPrefix>₹&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>
    <mat-hint class="ErrorMsg" >
      {{ amountErrorMessage }}</mat-hint>
    <br>
    <mat-form-field formGroupName="price">
      <mat-label>Currency</mat-label>
      <mat-select  formControlName="currency">
        <mat-option *ngFor="let currency of Currencys" [value]="currency.value">
          {{ currency.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Publish date</mat-label>
      <input matInput [matDatepicker]="picker" name="publishedOn" formControlName="publishedOn">
      <mat-hint>Month/Date/Year</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-slide-toggle name="isPublished" formControlName="published">IS that Book Published !</mat-slide-toggle>


    <button  [disabled]="addBookForm.invalid" mat-raised-button  color="primary" type="submit" style="margin-top: 10px">Save</button>
  </div>
</form>
{{addBookForm.value | json}}
